<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> SIGN-IN </h1>
    <a href="/signup">Haven't created account yet?</a>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
        
            <input type="text" name="username" placeholder="@Enter your unique username?" class="fields-one" id="username">
            <input type="password" name="password" placeholder="Enter your password" class="fields-two" id="pass">
            <button type="submit"> SIGN-IN NOW</button>
                
        </form>
    </div>


    
</body>
</html>